= form_for(@lot) do |f|
  - if @lot.errors.any?
    #error_explanation
      %h2
        = pluralize(@lot.errors.count, "error")
        prohibited this lot from being saved:
      %ul
        - @lot.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :total_spots, "Total Spots"
    = f.number_field :total_spots
  .field
    = f.label :cars
    = f.number_field :cars
  .actions
    = f.submit