<%= form_for(@admin_sensor) do |f| %>
  <% if @admin_sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_sensor.errors.count, "error") %> prohibited this admin_sensor from being saved:</h2>

      <ul>
      <% @admin_sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :api_token %><br />
    <%= f.text_field :api_token %>
  </div>
  <div class="field">
    <%= f.label :lot_id %><br />
    <%= f.number_field :lot_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
