<h1>Listing admin_sensors</h1>

<table>
  <tr>
    <th>Api token</th>
    <th>Lot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_sensors.each do |admin_sensor| %>
  <tr>
    <td><%= admin_sensor.api_token %></td>
    <td><%= admin_sensor.lot_id %></td>
    <td><%= link_to 'Show', admin_sensor %></td>
    <td><%= link_to 'Edit', edit_admin_sensor_path(admin_sensor) %></td>
    <td><%= link_to 'Destroy', admin_sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sensor', new_admin_sensor_path %>
