<div class="page-header">
<h1>Parking Lots</h1>
</div>

<table class="table table-striped">
<thead>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
<% @lots.each do |lot| %>
  <tr>
    <td><%= lot.name %></td>
    <td>
    <%= link_to 'Show', lot, :class => 'btn btn-mini' %>
    <%= link_to 'Edit', edit_lot_path(lot), :class => 'btn btn-mini' %>
    <%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<div class="form-actions">
    <%= link_to 'New Lot', new_lot_path, :class => 'btn' %>
</div>