!!!
%html
  %head
    %title Parking
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    /= favicon_link_tag "favicon.ico"
    = csrf_meta_tags
    %meta{id:"viewport",
          name:"viewport",
          content:"width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li
              %span.brand= link_to "acmX - Parking", root_path
            %li= link_to 'Parking Lots', lots_path, :title => "Click to see all parking lots"
            /%li.divider-vertical
            /%li= link_to "Login", :login
            /%li=link_to "Register", :register
    #body
      #flashcontainer
        - flash.each do |key, msg|
          - if key == :information
            .alert.alert-info
              %button.close{:'data-dismiss' => "alert"} ×
              = msg
          - if key == :notice
            .alert.alert-success
              %button.close{:'data-dismiss' => "alert"} ×
              = msg
          - if key == :warning
            .alert
              %button.close{:'data-dismiss' => "alert"} ×
              = msg
          - if key == :error
            .alert.alert-error
              %button.close{:'data-dismiss' => "alert"} ×
              = msg
      - if params[:controller] = "lots"
        .span2
          .sidebar-nav.sidebar-nav-fixed{style:"background-color:#EEE;"}
            %fieldset
              %legend Parking Lots

              %table.table.table-striped
                %thead
                  %tr
                    %th Name
                    %th Actions
                %tbody
                  - Lot.all.each do |lot|
                    %tr
                      %td= lot.name
                      %td= link_to "Open", lot_path(lot), class: "btn btn-mini"
            
      .span2
      .span8
        = yield
